.textFormat {
    
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 600px;
    padding: 7px;
}

.desFormat {
    
    text-align: center;
    width: 600px;
    padding: 7px;
}